body {
  margin: 0;
  overflow: hidden;
}

.rt-Card.selected {
  background-color: var(--accent-7);
  .rt-Text {
    color: var(--accent-11);
  }
}

p {
  margin-block-start: 2px;
  margin-block-end: 2px;
}

code {
  font-family: Consolas, 'Courier New', Courier, monospace
}

pre {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--gray-6);
}

td, th {
  border: 1px solid var(--gray-6);
  padding: var(--card-padding);
}